<div class="container">
  <div class="row col">
    <!-- tasks -->
    <div *ngFor="let task of tasks" class="task col-10 col-md-6">
      <div class="text mx">
        <h3>{{ task.title }}</h3>
        <p>{{ task.content }}</p>
        <span class="time text-secondary">Day: {{ task.day }}</span>
      </div>

      <div class="controls">
        <fa-icon
          class="text-danger"
          [icon]="fatrash"
          *ngIf="task.status"
        ></fa-icon>

        <fa-icon
          class="text-success"
          [icon]="facheck"
          *ngIf="!task.status"
        ></fa-icon>
      </div>
    </div>

    <!-- ! button add New task -->
    <div class="col-10 col-md-6">
      <button
        routerLink="/new-task"
        type="button"
        class="fw-bold btn btn-success"
      >
        New Task
      </button>
    </div>
  </div>
</div>
